INFLOW_ADAPTIVE_DATA_DIR=
INFLOW_PACKS_DIR=
INFLOW_ADAPTIVE_PORT=8767
INFLOW_ALLOWED_EXTENSION_ORIGINS=
INFLOW_DOWNLOAD_PROXY=
INFLOW_TRANSLATION_BACKEND=argos
INFLOW_TRANSLATION_PROXY=
INFLOW_ARGOS_PYTHON=
INFLOW_ARGOS_PACKAGE_DIR=
INFLOW_MODEL_BACKEND=none
INFLOW_OPENAI_CHAT_COMPLETIONS_URL=
INFLOW_OPENAI_MODEL=
INFLOW_OPENAI_API_KEY=
INFLOW_DSH_PATCH=
INFLOW_PLAYWRIGHT_BROWSERS=
